name: CI

on:
  push:
    branches:
    - '**'
    - '!dependabot/**'
    tags:
    - '**'
  pull_request: {}

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.1
    - uses: actions/setup-go@v2.1.1
      with:
        go-version: 1.14.x
    - name: Test
      run: go test ./...

  stage:
    needs: test
    if: github.event_name == 'push' && startsWith(github.repository, 'vmware-labs/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.1
    - uses: actions/setup-go@v2.1.1
      with:
        go-version: 1.14.x
    - name: Install ko
      run: |
        go get github.com/google/ko/cmd/ko
        echo "##[add-path]$(go env GOPATH)/bin"
      env:
        GO111MODULE: "off"
    - name: dockerhub auth
      run: |
        echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKERHUB_USERNAME --password-stdin
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Stage
      run: |
        set -o errexit
        set -o nounset
        set -o pipefail

        readonly version=$(cat VERSION)
        readonly git_sha=$(git rev-parse HEAD)
        readonly git_timestamp=$(TZ=UTC git show --quiet --date='format-local:%Y%m%d%H%M%S' --format="%cd")
        readonly slug=${version}-${git_timestamp}-${git_sha:0:16}

        ko resolve -t ${slug} --strict -B -f config | sed -e "s|bindings.labs.vmware.com/release: devel|bindings.labs.vmware.com/release: ${slug}|" > service-bindings.yaml
      env:
        KO_DOCKER_REPO: docker.io/vmware
    - name: Upload stage asset
      uses: actions/upload-artifact@v2.1.0
      with:
        name: service-bindings.yaml
        path: service-bindings.yaml

  acceptance:
    if: github.event_name == 'push' && startsWith(github.repository, 'vmware-labs/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.1
    - name: Download staged asset
      uses: actions/download-artifact@v2.0.1
      with:
        name: service-bindings.yaml
        path: service-bindings.yaml
    - run: cat service-bindings.yaml
    # TODO add acceptance tests

  release:
    needs: acceptance
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.1
    - name: Get release version
      id: get-version
      run: |
        echo ::set-output name=version::$(cat VERSION)
    - name: Draft release
      id: create_release
      uses: actions/create-release@v1.1.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: true
    - name: Download staged asset
      uses: actions/download-artifact@v2.0.1
      with:
        name: service-bindings.yaml
        path: service-bindings.yaml
    - name: Upload release asset
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
        asset_path: service-bindings.yaml
        asset_name: service-bindings-${{ steps.get-version.outputs.version }}.yaml
        asset_content_type: application/x-yaml
